body{
    text-align: center;
    background-color: orangered;
}

h1, h2, button{
    font-family: 'Luckiest Guy', cursive;
}

.jumbotron{
    background-color:black;
    padding: 2%;
    color: white;
    background-image: url("../img/space.jpg");
    background-size: 100% 100%;
}

.fas{
    padding: 0 18% 0 18%;
}

@media (max-width: 1018px) { 
    .fas{
        padding: 0 10% 0 10%;
    }
 }

.replicator{
    height: 200px;
    width: 80%;
    background-image: url("../img/grill.jpg");
    background-size: 100% 100%;
    margin: 0 auto;
    color:whitesmoke;
}

.replicatorCol{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.prosper{
    margin: 0 auto;
}

.replicated{
    margin: 30% 0 0 0;
    display: none;
}